In [3]:
import pandas as pd
from pathlib import Path

In [13]:
files = list(Path("./ETFs/").glob("*.csv"))
df = [pd.read_csv(f) for f in files]
df = pd.concat(df, ignore_index=True)
df.rename({"market value($)":"value", "weight(%)":"weight"}, axis=1, inplace=True)
df = df.dropna(subset=["fund", "company", "ticker", "cusip", "shares"], how="all").reset_index(drop=True)
df

,date,fund,company,ticker,cusip,shares,value,weight
0,2/24/2021,ARKQ,TESLA INC,TSLA,88160R101,554217.0,4.112401e+08,10.53
1,2/24/2021,ARKQ,BAIDU INC - SPON ADR,BIDU,056752108,690780.0,2.100040e+08,5.38
2,2/24/2021,ARKQ,TRIMBLE INC,TRMB,896239100,2466522.0,1.875790e+08,4.80
3,2/24/2021,ARKQ,DEERE & CO,DE,244199105,537760.0,1.858821e+08,4.76
4,2/24/2021,ARKQ,JD.COM INC-ADR,JD,47215P106,1762855.0,1.698863e+08,4.35
...,...,...,...,...,...,...,...,...
261,2/24/2021,ARKF,LENDINGCLUB CORP,LC,52603A208,1838306.0,2.204129e+07,0.47
262,2/24/2021,ARKF,MARKETAXESS HOLDINGS INC,MKTX,57060D108,33729.0,1.839782e+07,0.39
263,2/24/2021,ARKF,JSC KASPI.KZ GDR-REG S,KSPI,BMXZ8G7,83655.0,6.031526e+06,0.13
264,2/24/2021,ARKF,SPLUNK INC,SPLK,848637104,23925.0,3.649280e+06,0.08
265,2/24/2021,ARKF,VERISK ANALYTICS INC,VRSK,92345Y106,18711.0,3.134654e+06,0.07

In [18]:
df.groupby(["ticker", "company"], as_index=False).agg({"value":"sum"}).sort_values("value", ascending=False)

    ticker                       company         value
144   TSLA                     TESLA INC  3.856803e+09
137   TDOC            TELADOC HEALTH INC  2.567694e+09
129     SQ                SQUARE INC - A  2.168983e+09
115   ROKU                      ROKU INC  1.848413e+09
128   SPOT         SPOTIFY TECHNOLOGY SA  1.249147e+09
..     ...                           ...           ...
72    KSPI        JSC KASPI.KZ GDR-REG S  6.031526e+06
9     ACIC  ATLAS CREST INVESTMENT COR-A  5.145158e+06
127   SPLK                    SPLUNK INC  3.845129e+06
155   VRSK          VERISK ANALYTICS INC  3.134654e+06
17    AONE                 ONE - CLASS A  2.853806e+06

[164 rows x 3 columns]

In [20]:
df.groupby(["ticker", "company"], as_index=False).agg({"weight":"sum"}).sort_values("weight", ascending=False)

    ticker                       company  weight
144   TSLA                     TESLA INC   30.41
129     SQ                SQUARE INC - A   19.18
137   TDOC            TELADOC HEALTH INC   18.19
26    BIDU          BAIDU INC - SPON ADR   10.62
162      Z          ZILLOW GROUP INC - C    9.98
..     ...                           ...     ...
9     ACIC  ATLAS CREST INVESTMENT COR-A    0.13
96   ONVO          ORGANOVO HOLDINGS INC    0.12
127   SPLK                    SPLUNK INC    0.09
155   VRSK          VERISK ANALYTICS INC    0.07
17    AONE                 ONE - CLASS A    0.07

[164 rows x 3 columns]